@import url("whitespace-reset.css");
body {
 font: normal 20px Helvetica, Arial, sans-serif;
 color: #45494d;
}

a {
  text-decoration: none;
  color: #50c3af;
}

h2 {
  font-size: 36px;
  color: #45494d;
}
h3 {
  font-size: 16px;
  text-transform: uppercase;
  padding: 0 0 25px 0;
}
p {
  line-height: 150%;
}

body > header {
 padding: 130px 0 50px 0;
 background: #3d3d3d;
 margin: 0 auto;
 box-sizing: border-box;
}

body > header h1 {
  padding: 0 0 125px 0;
    margin: 0 0 125px 0;
   color: #ffffff;
   text-align: center;
   font: normal 68px Helvetica, Arial, sans-serif;
   text-transform: uppercase;
   font-weight: 500;
   letter-spacing: 4px;
   background: transparent url("images/blog-logo.png") 50% 100% no-repeat;
}

main {
  max-width: 1000px;
  padding: 80px 0;
  margin : auto;
  overflow: hidden;
}
#content {
  float: left;
  width: 65%;
  padding: 0 11.5% 0 0;
}
#sidebar {
  overflow: hidden;
  background: #f6f7f8;
  padding:35px;
  color: #787b80;
}
#sidebar ul {
    padding: 0 0 105px 20px;
    list-style: url("images/list-icon.png");
}
#sidebar a {
  color: #83858a;
}
#sidebar ul, p {
  font-size: 14px;
}
#sidebar  p {
  color: #45494d;
}
#sidebar li {
  padding: 0 0 5px 0;
}
.button {
  color: white;
  height: 30px;
  width: 88px;
  border-radius: 20px;
  margin-right: 33px;
  padding: 5px 25px;
  display: inline;
  font-size: 15px;
   background: #50c3af;
}

.prev {
 background: #d2d5da;
}
.next {
 background: #50c3af;
}
.pagination a.disabled {
   background: #d2d5da;
}
footer {
  max-width: 1000px;
  padding: 15px 0 30px 0;
  margin: 0 auto;
  font-size: 12px;
  color: #7e8287;
  border-top: 1px solid #d0d0d0;
}

h3 {
  color: #40474e;
  font-size: 16px;
  text-transform: uppercase;
  padding: 0 0 25px 0;
}
h2 {
  font-size: 36px;
  color: #45494d;
  padding: 0 0 20px 0;
}
ul {
 list-style: none;
}
body > header h1 a {
  color: #ffffff;
}
header li {
   display:inline;
   margin: 0 60px 0 0;
}
header ul {
 margin-bottom: 57px;
 list-style: none;
 text-align: center;    }

header nav a {
  color: #ffffff;
  text-transform: uppercase;

}
h1 {
 color: #ffffff;
 font-size: 68px;
 text-transform: uppercase;
 margin-bottom: 135px;
 text-align: center;
 font-weight: 500;
 background: transparent url("images/blog-logo.png") no-repeat;
}

.selected {
 color: #32ffe3;
}
article {
  padding: 0 0 65px 0;
}
article p {
  padding: 0 0 15px 0;
}
article h2 a {
  color: inherit;
}
